{{ $school := .Get "school" }}
{{ $degree := .Get "degree" }}
{{ $date := .Get "date" }}
{{ $thesis := .Get "thesis" }}

<div class="education-item">
  <div class="education-content">
    <div class="education-header">
      <div class="education-title-section">
        <h4 class="education-school">{{ $school }}</h4>
        <span class="education-degree">{{ $degree }}</span>
      </div>
      <span class="education-date">{{ $date }}</span>
    </div>
    {{ if $thesis }}<p class="education-thesis">{{ $thesis }}</p>{{ end }}
  </div>
</div>
